body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 5px;
    background-color: lightblue;
}

nav a {
    padding: 10px;
    float: left;
    display: block;
    border-right: 1px solid black;
}

nav {
   overflow: hidden;
}

main {
    clear: left;
}

nav, footer {
    background-color: darkgreen;
}

footer {
    clear: left;
    text-align: center;
    padding: 20px;
}

main > div {
    height: 300px;
}

#col1 {
    background-color: #aaa;
}

#col2 {
    background-color: #bbb;
}

#col3 {
    background-color: #ccc;
}

#col1, #col3 {
    width: 25%;
}

#col2 {
    width: 50%;
}

#col1, #col2, #col3 {
    float: left;
}

@media only screen and (max-width: 600px) {
    #col1, #col3 {
        width: 50%;
    }

    #col1 {
        float: left;
    }

    #col2 {
        float: right;
    }

    #col3 {
        width: 100%;
    }
}